body
{
    background: #333;
    color: #fff;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
	margin:0;
}

hr
{
	width:97%;
}

.clearboth {clear:both;}
.margincenter {margin-left:auto;margin-right:auto;}
.floatleft {float:left;}
.floatright {float:right;}

#wrapper
{
	height:98%;
	width:98%;
	margin-left:auto;
	margin-right:auto;
}

#content
{
	margin-left:auto;
	margin-right:auto;
	width:97%;
	height:99%;
}

#sandbox_content
{
    height: 89%;
    width: 100%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	color:black;
	background:white;	
}

#header
{
	text-align:left;
	color:white;
}

#sandbox_viz_content
{
    height: 100%;
    width: 80%;
	float:left;
}

#sandbox_viz_sidebar
{
	width:20%;
	background:#111;
	height:100%;
	float:right;
	overflow:hidden;
}

#sandbox_heading
{
	font-size:20px;
}

#sandbox_novis
{
	padding:10px;
	width:100%;
	height:100%;
}

#sandbox_navigation
{
	margin-left:20px;
	font-size:13px;
	margin-top:10px;
	border-left:1px solid white;
	padding-left:20px;
}

#userSpace
{
	font-size:13px;
	margin-top:10px;
}

.sandbox_viz_sidebar_content
{
	color:white;
	width:100%;
	padding:15px;
}

#sandbox_viz_sidebar div.spacer
{
	height:5%;
}

#sandbox_viz_sidebar div h1
{
	font:300 20px "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}

#sandbox_viz_sidebar div h2
{
	font:300 15px "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}

#sandbox_viz_sidebar hr
{
	width:89%;
	margin-left:0;
}

#sandbox_viz_sidebar ul
{
	list-style:none;
	padding:0;
	margin:0;
}

#sandbox_viz_sidebar ul li
{
	font-size:13px;
	display:block;
	text-indent:0;
	padding:0;
	padding-bottom:10px;
	margin:0;
}

#sandbox_viz_sidebar ul.foldableList
{
	padding:10px;
}

#sandbox_viz_sidebar ul li ul.foldableList li
{
	padding-bottom:10px;
	font-size:13px;
}

#controlsAccordion
{
	max-width:90%;
	background:transparent;
}

input.forceInput
{
	margin-left:10px;
	width:40px;
}

#footer
{
	padding-bottom:1px;
	padding-right:14px;
	text-align:right;
    font: 300 80% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;			
}

#copy
{
    bottom: 0;
    font: 300 .8em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    position: absolute;
    right: 1em;
    text-align: right;
}

#copy a
{
    color: #fff;
}

p a
{
	color:#888;
}

#renderButton
{
	margin-top:20px;
	font-size:17px;
}

#progressBar
{
	margin-top:1em;
	width:300px;
	height:10px;
}